# Default values for headlamp.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  registry: ghcr.io
  repository: headlamp-k8s/headlamp
  pullPolicy: IfNotPresent
  tag: "0.37.0"  # Fixed version (resolves ShiftedDate frontend error)

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
namespaceOverride: ""

initContainers: []

config:
  inCluster: true
  baseURL: ""
  oidc:
    secret:
      create: true
      name: oidc
    clientID: ""
    clientSecret: ""
    issuerURL: ""
    scopes: ""
    callbackURL: ""
    validatorClientID: ""
    validatorIssuerURL: ""
    useAccessToken: false
    usePKCE: false
    externalSecret:
      enabled: false
      name: ""
    meUserInfoURL: ""
  pluginsDir: "/headlamp/plugins"
  enableHelm: false
  watchPlugins: false
  extraArgs: []

extraEnv:
  - name: HEADLAMP_IN_CLUSTER
    value: "true"
  - name: HEADLAMP_LOG_LEVEL
    value: "debug"
  - name: NODE_ENV
    value: "production"

automountServiceAccountToken: true

serviceAccount:
  create: true
  annotations: {}
  name: headlamp-sa

clusterRoleBinding:
  create: true
  clusterRoleName: cluster-admin
  annotations: {}

deploymentAnnotations: {}
podAnnotations: {}
podLabels: {}

podSecurityContext: {}
securityContext:
  runAsNonRoot: true
  privileged: false
  runAsUser: 100
  runAsGroup: 101

service:
  annotations: {}
  type: ClusterIP
  port: 80
  clusterIP: ""
  loadBalancerIP: ""
  loadBalancerSourceRanges: []
  nodePort: null

volumeMounts: []
volumes: []

persistentVolumeClaim:
  enabled: false
  annotations: {}
  accessModes: []
  size: ""
  storageClassName: ""
  selector: {}
  volumeMode: ""
  mountPath: "/home/headlamp/.config/Headlamp"

ingress:
  enabled: false
  annotations: {}
  labels: {}
  ingressClassName: ""
  hosts: []
  tls: []

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

nodeSelector: {}
tolerations: []
affinity: {}
priorityClassName: ""

pluginsManager:
  enabled: false
  configFile: "plugin.yml"
  configContent: ""
  baseImage: node:lts-alpine
  version: latest
  securityContext: {}

podDisruptionBudget:
  enabled: false
  minAvailable: 0
  maxUnavailable: null
  unhealthyPodEvictionPolicy: null

extraManifests: []

extraArgs:
  - "--in-cluster"
  - "--plugins-dir=/headlamp/plugins"
  - "--static-plugins-dir=/headlamp/static-plugins"
