name: Build and upload Linux app artifact

on:
  workflow_dispatch:
    inputs:
      buildBranch:
        description: 'Headlamp ref/branch/tag'
        required: true
        default: 'main'

permissions:
  contents: read

jobs:
  build-linux:
    runs-on: ubuntu-latest
    permissions:
      actions: write # needed to upload artifacts
      contents: write
      id-token: write # needed for Sigstore keyless signing
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      with:
        ref: ${{ github.event.inputs.buildBranch }}
    - name: Setup nodejs
      uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
      with:
        node-version: 20.x
    - uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5.1.0
      with:
        go-version: '1.24.*'
    - name: App linux
      run: |
        make app-linux
    - name: Rename AppImage 64bit version
      run: |
        FILE_PATH=$(echo app/dist/Headlamp*x86_64*.AppImage); mv ${FILE_PATH} $(echo ${FILE_PATH}|sed s/x86_64/x64/)
    - name: Install Cosign
      uses: sigstore/cosign-installer@dc72c7d5c4d10cd6bcb8cf6e3fd625a9e5e537da # v3.7.0
    - name: Sign Linux artifacts with Cosign
      run: |
        cd app/dist
        for file in Headlamp*.tar.* Headlamp*.AppImage headlamp*.deb; do
          if [ -f "$file" ]; then
            echo "Signing $file"
            cosign sign-blob --yes --bundle "${file}.cosign.bundle" "$file"
          fi
        done
    - name: Upload Tarball artifacts
      uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
      with:
        name: Tarballs
        path: |
          ./app/dist/Headlamp*.tar.*
          ./app/dist/Headlamp*.tar.*.cosign.bundle
        if-no-files-found: error
        retention-days: 1
    - name: Upload AppImage artifacts
      uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
      with:
        name: AppImages
        path: |
          ./app/dist/Headlamp*.AppImage
          ./app/dist/Headlamp*.AppImage.cosign.bundle
        if-no-files-found: error
        retention-days: 1
    - name: Upload Debian artifacts
      uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
      with:
        name: Debian
        path: |
          ./app/dist/headlamp*.deb
          ./app/dist/headlamp*.deb.cosign.bundle
        if-no-files-found: error
        retention-days: 1
